
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* common style */
:root{
    --primary-color:#3A3A3A;
    --section-title:#18191F;
    --price-color:#rgba(0, 0, 0, 0.87);
    --section-description:#787885;
}
.display-flex{
    display: flex;
}
nav , .banner-container{
    border: 1px solid red;
    max-width: 1155px;
    margin: 0 auto;
}
.btn-p{
    background-color: palevioletred;
    border: none;
    border-radius: 20px;
    padding: 10px;
    /* font-size: 18px; */
}
/* remove border */
.banner-container , .banner-description , .banner-image{
    border: 1px solid red;
}
/* header */


/* nav */
nav {
    justify-content: space-between;
    /* flex: 1; */
}
nav ul{
    justify-content: space-around;
    flex: 1;
}
nav ul li{
    list-style: none;
}
/* banenr */
.banner-container{
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}
.banner-description{
    
    max-width: 500px;
}
.banner-title{
    font-size: 2.5rem;
    font-weight: bold;
}
.banner-description p {
    color: var(--section-description);
    font-size: medium;
    line-height: 20px;
}
.banner-image{
    
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    border-radius: 50%;

}
.banner-image img{
    width: 100%;
}


/* responsive for mobile */
@media screen and (max-width: 576px) {
    body{
        padding: 10px;
    }
    .banner-container , nav {
        flex-direction: column;
 
    }

}