
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
body >*{
   margin-bottom: 20px;
}

/* common style */
:root{
    --primary-color:#3A3A3A;
    --section-title:#18191F;
    --price-color:#rgba(0, 0, 0, 0.87);
    --section-description:#787885;
}
/* border */
.border{
    border: 1px solid red;
}
.display-flex{
    display: flex;
}
nav , .banner-container{
   
    max-width: 1155px;
    margin: 0 auto;
}
.sponser-container{
    max-width: 1110px;
    margin: 0px auto;
}

.btn-p{
    background-color: #E02C6D;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px;
    /* font-size: 18px; */
}

/* header */


/* nav */
nav {
    justify-content: space-between;
    /* flex: 1; */
}
nav ul{
    justify-content: space-around;
    flex: 1;
}
nav ul li{
    list-style: none;
}
/* banenr */
.banner-container{
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}
.banner-description{
    
    max-width: 500px;
}
.banner-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.banner-description p {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    
}
.banner-image{
    
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    border-radius: 50%;

}
.banner-image img{
    width: 100%;
}
/* sposer */
.sponser-container{
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    
}

/* responsive for mobile */
@media screen and (max-width: 576px) {
    body{
        padding: 10px;
    }
    .banner-container , nav {
        flex-direction: column;
 
    }
    .sponser-container{
        /* flex-wrap: wrap; */
        grid-template-columns: repeat(4,1fr);
        ;
        
    }

}